In [1]:
import pandas as pd
import numpy as np

In [34]:
data = pd.read_csv(r'C:\Users\Ahmed Rehman\Downloads\Sleep_health_and_lifestyle_dataset.csv')

In [21]:
import sklearn 
from sklearn import linear_model
from sklearn.utils import shuffle

In [35]:
data.describe()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [36]:
data = data[['Sleep Duration', 'Stress Level', 'Heart Rate', 'Daily Steps', 'Quality of Sleep']]
data.head()

   Sleep Duration  Stress Level  Heart Rate  Daily Steps  Quality of Sleep
0             6.1             6          77         4200                 6
1             6.2             8          75        10000                 6
2             6.2             8          75        10000                 6
3             5.9             8          85         3000                 4
4             5.9             8          85         3000                 4

In [37]:
predict = 'Quality of Sleep'

In [42]:
#x doesnt have Qaulity of Sleep
x = np.array(data.drop(['Quality of Sleep'], axis=1))

In [43]:
#y only has Quality of Sleep
y = np.array(data['Quality of Sleep'])

In [44]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x,y, test_size=.1)

In [45]:
linear = linear_model.LinearRegression()

linear.fit(x_train, y_train)
acc = linear.score(x_test, y_test)
print(acc)

0.9132252946137371

In [51]:
print('Co: \n', linear.coef_)
print('Intercept: \n' , linear.intercept_)

Co:
 [ 6.22282219e-01 -3.66967065e-01 -2.23258504e-02  1.04156280e-04]
Intercept:
 5.689997785804443

In [52]:
pre = linear.predict(x_test)

In [60]:
for x in range(len(pre)):
    print(round(pre[x], 1), x_test[x], y_test[x])

7.9 [7.7e+00 5.0e+00 7.0e+01 8.0e+03] 8
8.8 [8.0e+00 3.0e+00 6.8e+01 7.0e+03] 9
8.0 [7.8e+00 5.0e+00 7.0e+01 8.0e+03] 8
8.0 [7.8e+00 5.0e+00 7.0e+01 8.0e+03] 8
6.1 [   6.3    7.    72.  6000. ] 6
7.9 [7.7e+00 5.0e+00 7.0e+01 8.0e+03] 8
8.9 [8.4e+00 3.0e+00 6.5e+01 5.0e+03] 9
7.7 [7.2e+00 5.0e+00 6.8e+01 8.0e+03] 8
5.5 [   6.1    8.    72.  5000. ] 6
8.9 [8.4e+00 3.0e+00 6.5e+01 5.0e+03] 9
7.9 [7.7e+00 5.0e+00 7.0e+01 8.0e+03] 8
5.4 [   6.    8.   72. 5000.] 6
6.2 [   6.6    7.    72.  6000. ] 7
6.2 [   6.5    7.    72.  6000. ] 6
8.8 [8.3e+00 3.0e+00 6.5e+01 5.0e+03] 9
5.8 [6.e+00 8.e+00 7.e+01 8.e+03] 6
7.6 [7.1e+00 5.0e+00 6.8e+01 8.0e+03] 8
7.8 [7.3e+00 4.0e+00 6.5e+01 5.0e+03] 8
7.5 [6.6e+00 4.0e+00 6.5e+01 6.0e+03] 7
5.4 [   6.    8.   72. 5000.] 6
6.1 [   6.4    7.    72.  6000. ] 6
6.0 [6.2e+00 8.0e+00 7.5e+01 1.0e+04] 6
7.2 [7.2e+00 6.0e+00 6.8e+01 7.0e+03] 8
7.9 [7.1e+00 4.0e+00 6.8e+01 7.0e+03] 8
5.5 [   6.1    8.    72.  5000. ] 6
8.8 [8.0e+00 3.0e+00 6.8e+01 7.0e+03] 9
5.8 [6.e+00 8.e+00 7.e+01 8.e+03] 6
7.6 [7.7e+00 6.0e+00 7.0e+01 8.0e+03] 7
7.9 [7.1e+00 4.0e+00 6.8e+01 7.0e+03] 8
8.8 [8.1e+00 3.0e+00 6.8e+01 7.0e+03] 9
8.9 [8.4e+00 3.0e+00 6.5e+01 5.0e+03] 9
8.8 [8.1e+00 3.0e+00 6.8e+01 7.0e+03] 9
7.6 [7.7e+00 6.0e+00 7.0e+01 8.0e+03] 7
8.9 [8.2e+00 3.0e+00 6.8e+01 7.0e+03] 9
8.8 [8.1e+00 3.0e+00 6.8e+01 7.0e+03] 9
6.7 [   6.9    6.    75.  5500. ] 7
8.8 [8.3e+00 3.0e+00 6.5e+01 5.0e+03] 9
5.5 [   6.1    8.    72.  5000. ] 6